@media screen and (max-width: 992px) {
  ul.flex {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 81px;
    background-color: #ffffff84;
    width: 100%;
    justify-content: center;
    left: 0;
    padding: 20px 0;
    backdrop-filter: blur(10px);
  }
  #menu-check:checked ~ ul {
    display: flex;
  }
  label .open {
    display: inherit;
  }
  .close {
    display: none;
  }
  #menu-check:checked ~ label .open {
    display: none;
  }
  #menu-check:checked ~ label .close {
    display: inherit;
  }
  header {
    margin: 3rem 0;
  }
  header .flex {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .header-content {
    width: 100%;
  }
  .services .card {
    max-width: 100%;
  }
  .services .cards-bg {
    width: 100%;
  }
  .testimonial.flex {
    flex-direction: column;
    gap: 40px;
  }
  .testimonial .content .testimonial .qoute {
    width: 100%;
  }
  .articles .flex {
    gap: 2rem;
  }

  .articles .card {
    width: 50%;
  }
  .articles .cards-bg {
    width: 100%;
  }
  .providers {
    margin: 3rem 0;
  }
  .providers .flex {
    flex-direction: column;
    gap: 3rem;
  }
  .section3-content {
    width: 100%;
  }
  .Download {
    margin: 3rem 0;
  }
  .Download .flex {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .section4-content {
    width: 100%;
  }
  footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-traflagar {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 40px;
  }

  .footer-logo {
    margin-top: 0;
  }

  .listes {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .articles .card {
    width: 100%;
  }
}
