@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: calc(100% - 30px);
  max-width: 1247px;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 999999;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
ul.flex {
  gap: 40px;
}
.active {
  font-weight: bold;
}
.nav-link {
  font-size: 18px;
  color: #1f1534;
  text-transform: capitalize;
}
label .open,
label .close {
  display: none;
}

body {
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  color: black;
}
:root {
  --gray-light: #7d7987;
  --primary: #458ff6;
}
p {
  color: var(--gray-light);
}
.header-content p {
  font-size: 21px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 45px;
}
.btn {
  min-width: 200px;
  height: 56px;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}
.header-content .btn {
  background-color: var(--primary);
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.header-img img {
  width: 100%;
}
.header-content {
  max-width: 445px;
}
header {
  height: 100vh;
}
header .container {
  height: 100%;
}
header .flex {
  height: 100%;
}
section {
  padding: 4rem;
}
.services {
  text-align: center;
}
.services svg {
  margin: 26px 0 33px 0;
}
.cards {
  text-align: start;
  margin-top: 5rem;
}
.cards.flex {
  flex-wrap: wrap;
  gap: 32px;
}
.card img {
  margin-bottom: 22px;
}
.card {
  padding: 37px 54px;
  max-width: 350px;
  margin-bottom: 3rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 40%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.services {
  position: relative;
}
.services .cards-bg {
  position: absolute;
  left: 0;
  z-index: -1;
}
.services .btn {
  background-color: white;
  color: var(--primary);
  border-color: var(--primary);
}
.bg-graidient{
    background: linear-gradient(#67C3F3,#5A98F2);
}

.testimonials .testimonial-content{
    overflow: hidden;
    position: relative;
    padding: 64px 118px;
    display: flex;
     margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     max-width: 1120px;
      border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;  
    color: white;
}
.testimonials .container h2{
    margin-bottom: 20px;
}
.testimonial.flex{
    gap: 100px;
}
.testimonial .content.flex{
    gap: 2rem;
    justify-content:flex-start ;
}
.testimonial .content .testimonial .qoute{
    width: 50%;

}
.testimonials{
    position: relative;
}
.testimonials .square{
position: absolute;
top: -19px;
right: -53px;

}
.articles .card{
    width: 350px;
    padding: 0;
  
}
.articles .card img{
    width: 100%;
}
.card-body{
    padding: 24px 33px;
}
.card-body p{
    margin-top: 12px;
    margin-bottom: 25px;
}
.card-body a{
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-body a i{
    font-size: 13px;
}
.articles .flex{
    flex-wrap: wrap;
}
.articles .card{
       max-width: 100%;
}
.articles {
position: relative;
text-align: center;
color: #000000;
}
.articles svg{
    margin-top: 26px;
    margin-bottom: 79px;
}
.articles .cards-bg{
    position: absolute;
   right: 0;
    z-index: -1;
    
}

.articles .container .square{
    position: absolute;
    top: 160px;
    left: 80px;
z-index: -1;
}
.articles .btn{
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
}
.section3-img img {
    width: 100%;
  }
  .section3-content {
    max-width: 486px;
  }
  .section3-content svg{
    margin-top: 26px;
    margin-bottom: 31px;
  }
  .section3-content .btn{
   margin-top: 37px;
   
  }
  .providers {
    height: 100vh;
  }
  .providers .container {
    height: 100%;
  }
  .providers .flex {
    height: 100%;
  }
.providers .btn{
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
}
.section4-img img {
    width: 100%;
  }
  .section4-content {
    max-width: 462px;
  }
  .section4-content svg{
    margin-top: 30px;
    margin-bottom: 31px;
  }
  .section4-content .btn{
   margin-top: 40px;
   
  }
  .Download {
    height: 100vh;
  }
  .Download .container {
    height: 100%;
  }
  .Download .flex {
    height: 100%;
  }
.Download .btn{
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
}
.Download .btn span{
margin-right: 1.6px;
}
