@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.flex{
display: flex;
justify-content: space-between;
align-items: center;
}
nav{
    padding: 20px 0;
}
ul{
    list-style-type: none;
}
a{
   text-decoration: none;
}
ul.flex{
    gap: 40px;
}
.active{
    font-weight: bold;
}
.nav-link{
    font-size: 18px;
    color:#1F1534;
    text-transform: capitalize;
}

body{
    font-family: "Mulish", sans-serif;
}
h1{
 font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color: black;
}
:root{
    --gray-light: #7D7987;
    --primary:#458FF6;
}
p{
    color: var(--gray-light);
}
.header-content p{
    font-size: 21px;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 45px;
}
.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
}
.header-content .btn{
background-color: var(--primary);
border: none;
font-size: 18PX;
font-weight: bold;
color: white;
}
.header-img img{
    width: 100%;
}
.header-content{
   max-width:445px ; 
}